div#formulario {
	margin-top: 100px;
	margin-left: 200px;
	width: 257px;
	float: left;
}

div#respuestas {
	margin-top: 100px;
	margin-right: 200px;
	float: right;
	margin-left: 100px;
}

input[name="grabar"] {
	float: right;
}

input[id="verdadero"] {
	margin-right: 96px;
}
